body {
    font-family: 'Roboto', sans-serif;
    padding-top: 93px;
    padding-top: 91px;
}

.smooth_zoom_preloader {
	background-image: url(zoom_assets/preloader.gif);
}

div#zoom_container {
    /* margin-top: -70px; */
    /* margin-bottom: -70px; */
    background-color: #F7F3F0 !important;
    height: 600px !important;
    z-index: 0;
}

#slider_section {
    z-index: 0;
}
	
.smooth_zoom_icons {
	background-image: url(zoom_assets/icons.png);
}
#zoom_container .landmarks{
	position:absolute;
	z-index:10;	
	top:0px;
	left:0px;
	font-family: Helvetica, Arial, Verdana;
	font-size:12px;
	color: #ffffff;
}	
#zoom_container .landmarks .item {
	position:absolute;
	margin: 0px 0px 0px 100px;
	text-align:center;
	display: none;
	max-width: 164px;
}
mark, .mark {
    background-color: transparent;
    padding: 0;
}
#zoom_container .landmarks .item div:before {
    /* border-left-width: 0; */
    /* border-right-width: 15px; */
    /* left: -15px; */
    /* right: auto; */
    position: absolute;
    /* top: 50%; */
    bottom: 20px;
    left: -24px;
    margin-top: -12px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
    border-right-color: rgba(255, 0, 0, 0.37);
    border-width: 12px;
}	
#zoom_container .landmarks .lable div {
	width: 100px;
	padding: 4px;		
}	
#zoom_container .landmarks .mark .text{
	background-color: rgba(255,0,0,0.6);
	padding: 7px 7px;
}
#zoom_container .landmarks .mark .text img{	
	margin-bottom: 7px;
}	
#zoom_container .landmarks .mark .text p{	
	line-height: 1;
}	
#zoom_container .landmarks .mark .text a{
	color: #fff;	
}	